.card {
    align-items: center;
    display: flex;
    gap: 12px;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px dashed $color-black;

    @include mq-till-md() {
        align-items: flex-start;
        flex-direction: column;
    }


    &__title {
        width: 100%;
    }

    &__actions {
        align-items: center;
        display: flex;
        gap: 12px;
        flex-grow: 0;
    }

    &__complete {
        width: 120px;

        label {
            font-size: 1rem;
        }
    }

    &__edit {
        background-color: $color-blue;
    }

    &__remove {
        background-color: $color-red;
    }

    &__edit,
    &__remove {
        color: $color-white;
        padding: 20px;
        text-transform: uppercase;
        transition: .5s;

        &:hover,
        &:focus {
            background-color: $color-black;
        }

        @include mq-till-md() {
            padding: 12px;
        }
    }
}