.list-control {
    &__wrapper {
        max-width: 960px;
        margin: 12px auto;
    }

    &__button {
        background-color: $color-white;
        border: 1px dashed $color-black;
        font-size: 1.2rem;
        padding: 8px 20px 8px 8px;
        position: relative;
        transition: 0.5s;

        &::before {
            content: '\21F3';
            font-size: 1.6rem;
            position: absolute;
            top: 4px;
            right: 4px;
        }

        &:hover,
        &:focus {
            background-color: $color-yellow;
            border-color: $color-yellow;
        }
    }
}